data*
logs*
images*
d2bs/kolbot/data*
*.dbl
d2bs/kolbot/logs*
d2bs/kolbot/mules*
d2bs/kolbot/sdk*
d2bs/kolbot/sdk/*
data/cdkeys.json
data/patch.json
data/profile.json
data/schedules.json
data/server.json
d2bs/kolbot/libs/config/Templates/Attacks.txt
d2bs/kolbot/libs/config/Templates/chestlist.txt
d2bs/kolbot/libs/config/Templates/Cubing.txt
d2bs/kolbot/libs/config/Templates/Runewords.txt
d2bs/kolbot/libs/config/Templates/ShopBot.txt
D2Bot.exe
